
.section {
	border-top: 1px solid #ccc;
}
#generated-calendar {
	height: 350px;
	text-align: center;
}
#generated-calendar .jsCalendar{
	display: inline-block;
}

#select-theme {
	font-size: 12px;
	/*text-align: center;*/
}
#select-theme .theme {
	display: inline-block;
	margin: 5px;
	height: 28px;
	padding: 1px 8px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	line-height: 28px;
}
#select-theme .theme:hover {
	padding: 0px 7px;
	border: 2px solid rgba(0, 0, 0, 0.5);
}
#select-theme .theme.active {
	padding: 0px 7px;
	border: 2px solid black;
	background: rgba(200, 200, 200, 0.1);
}

#select-color {
	/*text-align: center;*/
}
#select-color .color {
	display: inline-block;
	margin: 5px;
	height: 28px;
	width: 28px;
	padding: 1px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
#select-color .color:hover {
	padding: 0px;
	border: 2px solid rgba(0, 0, 0, 0.5);
}
#select-color .color.active {
	padding: 0px;
	border: 2px solid black;
	background: rgba(200, 200, 200, 0.1);
}

#select-parameters {
	font-size: 12px;
}
#select-parameters .param-name {
	font-size: 14px;
	display: inline-block;
	margin: 5px;
	height: 20px;
	padding: 2px 9px 2px 0px;
	cursor: pointer;
	line-height: 20px;
}
#select-parameters .param-value {
	display: inline-block;
	margin: 5px;
	height: 20px;
	padding: 1px 6px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	line-height: 20px;
}
#select-parameters .param-value:hover {
	padding: 0px 5px;
	border: 2px solid rgba(0, 0, 0, 0.5);
}
#select-parameters .param-value.active {
	padding: 0px 5px;
	border: 2px solid black;
	background: rgba(200, 200, 200, 0.1);
}

.divider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
